.myMovie__figure{
    width: 13rem;
    height: 20rem;
}
.myMovie__container{
    padding: 1rem;
    position: relative;
}
.myMovie__container-popular{
    display: grid;
    padding: 1rem;
    position: relative;
}

.myMovie__list{
    display: flex;
    overflow-x: scroll;
}

.myMovie__list::-webkit-scrollbar{
    display: none;
}

.myMovie__details-article{
    margin: 1rem;
} 
.myMovie__details-description{
    margin: 1rem;
}

.myMovie__genre-list{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.25rem;
}

 .myMovie__details-cast{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
} 

.myMovie__details-figure-cast{
    height: 4rem;
    width: 4rem;
}