.myMovie__figure{
    width: 13rem;
    height: 20rem;
}
.myMovie__container{
    padding: 1rem;
    position: relative;
}
.myMovie__container-popular{
    display: grid;
    padding: 1rem;
    position: relative;
}

.myMovie__list{
    display: flex;
    overflow-x: scroll;
}

.myMovie__list::-webkit-scrollbar{
    display: none;
}

.myMovie__details-article{
    margin: 1rem;
} 
.myMovie__details-description{
    margin: 1rem;
}