.myMovie__header-text{
    font-family: 'Mulish';
}

.myMovie__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.myMovie__details-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 100%;
    width: 100%;
    padding-top: 1rem;
}

